*{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    
  
    
}
section{
    background: darkgray;
    max-width: 1200px;
    margin: auto;
}
#container-form{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: auto;   
    background:antiquewhite;
    padding: 20px;
    
}

button:hover{
    border-radius: 5px;
    background: rgb(62, 116, 8);
    color:white

}
